Source: vlab-core
Section: vlab
Priority: extra
Maintainer: Pietro Donatini <pietro.donatini@unibo.it>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: http://www.virtlab.unibo.it

Package: vlab-core
Architecture: any
Depends: ${misc:Depends}
Description: Laboratorio virtuale interdipartimentale
 Pacchetto che configura l'ambiente per la corretta installazione dei pacchetti relativi ai corsi

