[Desktop Entry]
Version=1.0
Type=Link
URL=https://www.virtlab.unibo.it
Name=Virtlab Home Page
Description=Home page for virtlab project
Icon=folder-templates
Categories=Vlab;X-Xfce-Toplevel



