[Desktop Entry]
Version=1.0
URL=file:///usr/share/unibo/
Name=Vlab Docs
Description="Università di Bologna"
Comment=Vlab Docs
Type=Directory
Icon=folder-templates
Categories=Vlab


