<div class="alert alert-info">
<p>
<%= icon('excalametion-triangle') %> 
Il <i>nome</i> del pacchetto deve essere rappresentativo del contenuto del pacchetto. 
In particolare deve contenere </p>

<ul>
  <li>solo lettere minuscole</li>
  <li>. (punto), - (trattino), + (pi&ugrave;) e numeri</li>
  <li>non deve contenere spazi o caratteri speciali (es. caratteri accentati, &, /, ?, ...)</li>
</ul>

<p>
Alcuni esempi di nomi corretti per il corso di Sistemi Operativi sono: sistemioperativi2012, sistemioperativi, so-slide, so-esercizio1, so+lavoratori.</p>
<p><%= icon('info-sign') %> La <i>descrizione</i> del pacchetto deve essere un sommario del contenuto del pacchetto.</p>
</div>
