# Be sure to restart your server when you modify this file.
CpkgOnRails::Application.configure do
  config.omniauth_default = :google
  config.project_link = { :name => 'Virlab home page', :url => 'http://virtlab.unibo.it/' }
  config.login_icon = 'ssologo18x18.png'
  config.logout_icon = 'ssologo18x18.png'
  config.support_mail = 'support@virtlab.unibo.it'
  config.action_mailer.default_url_options = { :host => 'tester.dm.unibo.it/cpkg', :protocol => 'https' }
  #config.homepage_proc = lambda {|p| "https://www.virtlab.unibo.it/cpkg/#{p.name}"},
  # if not nil each package has a home page as http://homepage_base/#{package.name}
  config.homepage_base = "https://www.virtlab.unibo.it/cpkg"
  # Location to store packages created to be downloaded 
  config.tmp_packages_dir = "/var/www/tmp/packages"
  # Repo location
  config.repo_dir = "/var/www/reprepro/incoming"

  config.i18n.default_locale = :it
  # the gpg key-id of the gpg key you want to use to sign packages.
  # leave an empty string if you don't want to sign them.
  config.gpg_key = "09A0DEDE"

  # Global dependencies. A comma-separaed list of packages that will be 
  # added to every package created with cpkg.
  config.global_deps = "cpkg-core"

  # Default email inserted into the packages creared by cpkg.
  config.support_email = "admin@cpkg.it"
  # Default section which the packages will be part of.
  config.pkgs_default_section = "cpkg"
  # Default maintainer
  config.pkgs_default_maintainer = "Cpkg Admin"
  # Distribution code name. This value is a field of the debian package.
  config.linux_distro = "precise"

  config.secret_key_base = 'fd79c402a74845cd2b44c17bb6d4219154a58b7dccd1c8d260ec2e4925805edc490bae07bf1410eb83cf36aa6e64e18f2b757b6163e30c6067edba781d629b47'

  # List of content types allowed to be uploaded and inserted into a package
  config.content_types = ['application/x-tar', 'application/zip', 'application/x-zip-compressed', 'application/pdf', 'text/plain', 'image/jpeg', 'image/png'] 
end



