# Be sure to restart your server when you modify this file.
CpkgOnRails::Application.configure do
  config.omniauth_default = :google
  config.project_link = { :name => 'Virlab home page', :url => 'http://virtlab.unibo.it/' }
  config.login_icon = 'ssologo18x18.png'
  config.logout_icon = 'ssologo18x18.png'
  config.support_mail = 'support@virtlab.unibo.it'
  config.action_mailer.default_url_options = { :host => 'tester.dm.unibo.it/cpkg', :protocol => 'https' }
  #config.homepage_proc = lambda {|p| "https://www.virtlab.unibo.it/cpkg/#{p.name}"},
  # if not nil each package has a home page as http://homepage_base/#{package.name}
  config.homepage_base = "https://www.virtlab.unibo.it/cpkg"
  # Location to store packages created to be downloaded 
  config.tmp_packages_dir = "/var/www/tmp/packages"
  # Repo location
  config.repo_dir = "/var/www/repo/dists/packages"

  # Your secret key for verifying the integrity of signed cookies.
  # If you change this key, all old signed cookies will become invalid!
  # Make sure the secret is at least 30 characters and all random,
  # no regular words or you'll be exposed to dictionary attacks.
  config.secret_token = 'ebf5a12629555cc5591031efac3d9b16ae69d99095b46d86bb0e44edf8f765000b92a97282395696ddddf9c78cccad86135476a720f604d55fccaf51ec1d098d'
  config.secret_key_base = '106daf6e00bf92776007764557767e704ec8338fd8c0ac50618cf1641534396e6f853c9a2b77121b4394bdf53b2b6238741ce1205ef9ce27c8e551b81dda3f88'
  config.i18n.default_locale = :it
end



