<p>In questa pagina &egrave; possibile modificare gli script associati al pacchetto. Tali script forniscono la possibilit&agrave; di intervenire durante la fase di installazione/rimozione del pacchetto.</p><p>Nello specifico: <br>
<ul>
  <li><b>PreRemove:</b>: </li>
  <li><b>PreInstall</b>:</li>
  <li><b>PostRemove</b>:</li>
  <li><b>PostInstall</b>:</li>
</ul></p>

