<h1> <!--<%= t(:new_package_for) %> <%= @course %>--> New CorePackage</h1>
<br>
<div class="row">
  <div class="span5">
    <%= render 'form' %>
  </div>
  <div class="span7 guide">
    bla bla bla
     <!-- %= render 'new_package_guide' %> -->
  </div>
</div>

