  <h2>CpkgOnRails Guide</h2>
<p>This software lets you make and manage metapackages that you can install into the VirtLab operating system.</p>
<!-- TODO: Finire di tradurre la pagina -->
  <p>On the right side of this page there's the list of your courses. Each course is set of packages. If you click on the course's name the package list show up. Below there are some FAQ about this software features.</p>

  <p><b>How can I add a package to a course?</b><br>
   Click on the course's name to show up the package list and the <i>New Package</i> button.
 Click on the  <i>New Package</i> and compile the form. Afterwards the new package will show up in the package's list.
  </p>
  <p><b>How can I add materials (slide, software, ...) to a package?</b><br> Just click on the  'pencil' ( <%= icon('edit')%>) beside the package's name that you want to add materials to. This way you can modify all the information related to the package and add all the materials and dependencies you want.
  </p>
  <p><b>How can I try a package without make it available to the students?</b><br>    
  just download the package with the  'Download the package'  button ( <%= icon('download')%>) into your hard drive and install it into the VirtLab operating system. To install it into the VirtLab OS you need to double click on it and then click on the install button.
  </p>
  <p><b>How can I make a package available to the students?</b><br>    
 To make the packages available to the students you need to upload them into the repository. To upload it you have to click on the 'Upload into the repository' button ( <%= icon('upload')%>) beside the package's name. Package will be available to students in about 15 minutes.
  </p>
