  <h2>Guida a CpkgOnRails</h2>
  <p>Questo software permette la creazione e gestione dei metapacchetti installabili nel sistema operativo del laboratorio virtuale.</p>
  <p>In questa pagina vengono elencati i corsi di cui avete la gestione. Ogni corso &egrave; composto da uno o pi&ugrave; pacchetti. I pacchetti associati al corso possono essere visionati cliccando sul nome del corso nell'elenco a destra. Di seguito vi sono alcune FAQ sull'utilizzo delle funzionalit&agrave; presenti in questa pagina.</p>

  <p><b>Come aggiungo un pacchetto al corso?</b><br>
  &Egrave; necessario cliccare sul nome del corso in modo da rendere visibile la lista dei pacchetti associati ad esso. Successivamente &egrave; sufficiente cliccare sul bottone <i>Nuovo Pacchetto</i>. Una volta compilata la maschera che verr&agrave; visualizzata il pacchetto comparir&agrave; nella lista dei pacchetti associati al corso.
  </p>
  <p><b>Come aggiungo materiale (slide, software, ...) ad un pacchetto?</b><br>    Per aggiungere materiale ad un pacchetto &egrave; sufficiente cliccare sulla 'matita' ( <%= icon('edit')%>) affianco al nome del pacchetto. In questo modo si visualizzer&agrave; la pagina in cui &egrave; possibile modificare tutte le componenti e le informazioni del pacchetto.
  </p>
  <p><b>Come posso provare il pacchetto senza renderlo disponibile agli studenti?</b><br>    
  Per provare il pacchetto senza renderlo disponibile agli studenti &egrave; necessario scaricare il pacchetto nel sistema operativo del laboratorio virtuale ed installarlo cliccandoci sopra. Per scaricare il pacchetto &egrave; sufficiente cliccare sul tasto 'Scarica il pacchetto' ( <%= icon('download')%>) affianco al nome del pacchetto.
  </p>
  <p><b>Come rendo disponibile un pacchetto agli studenti?</b><br>    
  Per rendere disponibile il pacchetto agli studenti &egrave; necessario caricare il pacchetto nel repository di pacchetti. Per caricare il pacchetto nel repository &egrave; sufficiente cliccare sul tasto 'carica nel repository' ( <%= icon('upload')%>) affianco al nome del pacchetto. Il pacchetto verr&agrave; reso disponibile alle macchine virtuali al massimo in 15 minuti.
  </p>
