<h2><%= t(:guest_guide) %></h2>

<p>This page shows you a list of all the courses.</p>
<p>Each course has its own packages. 
You can see all the packages related to a course by clicking on its name.</p>
<p>On the page relative to the single package you can see it's details and download
the  material (for example slides, documents etc. etc).</p>
