<h2><%= t(:guest_guide) %></h2>

<p>Ogni corso è composto da uno o più pacchetti che possono essere 
   visionati cliccando sul nome del corso nell'elenco a destra.</p>
<p>Nella pagina relativa al singolo pacchetto è possibile scaricare
il materiale allegato (per esempio lucidi/documenti ecc. ecc.).</p>
   
