<h2><%= t(:guest_guide) %></h2>

<p>In questa pagina vengono elencati tutti i corsi che partecipano al progetto.</p>
<p>Ogni corso &egrave; composto da uno o pi&ugrave; pacchetti che possono essere 
   visionati cliccando sul nome del corso nell'elenco a destra.</p>
<p>Nella pagina relativa al singolo pacchetto &egrave; possibile scaricare
il materiale allegato (per esempio lucidi/documenti ecc. ecc.).</p>
   
