[Desktop Entry]
Version=1.0
Type=Link
Name=UniDocuments
URL=file:///usr/share/unibo/
Icon=folder-templates
Description=Università di Bologna
Category=Unibo
