<h1>Sincronizzazione avviata</h1>

<p class="alert alert-warning">La sincronizzazione può richiedere molti minuti per essere completata.</p>

<p><%= @archive %></p>

<%= link_to 'avanti', archives_path, class: :button %>
