@import "dm_unibo_common/variables";
@import "dm_unibo_common/dm";
@import "jquery.fileupload";
@import "typeaheadjs.css";

.guide {
  text-align:justify;
}
.package-panel {
  @extend .card;
}
ul.courses, ul.degrees {
  @extend .list-group;
  li {
    @extend .list-group-item;
  }
}

.panel-heading, .panel-body {
  h1, h2 {
    text-align: left;
    font-size: 18px;
  }
}

// mistery
.tab-content {
  margin-top: 20px;
}

.dl-horizontal {
  @extend .row;
  dt {
    text-align: right;
    @extend .col-sm-3;
  }
  dd {
    @extend .col-sm-9;
  }
}

.modal-dialog {
  width: 90%;
  max-width: 1200px;
}

// #typeahead .tt-menu {
//   max-height: 150px;
//   overflow-y: auto;
// }

@import "card_columns";

