@import "dm_unibo_common/variables";
@import "dm_unibo_common/dm";
@import "jquery.fileupload";
@import "typeaheadjs.css";

.guide {
  text-align:justify;
}
.package-panel {
  @extend .card;
}
ul.courses, ul.degrees {
  @extend .list-group;
  li {
    @extend .list-group-item;
  }
}

.panel-heading, .panel-body {
  h1, h2 {
    text-align: left;
    font-size: 18px;
  }
}

// fix donatini bootstrap
.checkbox input[type="checkbox"] {
  position: relative;
}
// mistery
.tab-content {
  margin-top: 20px;
}


.dl-horizontal {
  @extend .row;
  dt {
    text-align: right;
    @extend .col-sm-3;
  }
  dd {
    @extend .col-sm-9;
  }
}


.check_boxes {
  span.checkbox {
    display: block;
    input {
      display: inline;
    }
    label {
      margin-left: 0;
    }
  }
}

// #typeahead .tt-menu {
//   max-height: 150px;
//   overflow-y: auto;
// }
